<h1>My tasks</h1>

<% @tasks.each do |task| %>
  <% done = task.completed ? '✔' : '◻️'  %>
    <p class="task-list-item">
      <span class="checkbox"><%= done %></span>
      <%= link_to task.title, task_path(task) %>
    </p>
<% end %>

<hr>

<%= link_to 'Add a new task', new_task_path %>
