<h1 class="my-3">My tasks</h1>

<ul class="task-list">
  <% @tasks.each do |task| %>
    <% done = task.completed ? 'âœ”' : 'â–«ï¸'  %>
      <li class="task-list-item">
        <span class="checkbox"><%= done %></span>
        <%= link_to task.title, task_path(task) %>
        <%= link_to 'ðŸ—‘', task_path(task), data: {confirm: "Are you sure?"}, method: :delete %>
      </li>
  <% end %>
</ul>


<hr>

<%= link_to 'âž• Add a new task', new_task_path %>
