<div class="d-flex justify-content-between align-items-end my-3">
  <h1 class="m-0"><%= @task.title %></h1>
  <%= link_to 'Edit this task', edit_task_path(@task) , class: "btn btn-outline-secondary"%>
</div>

<p class="box-details"><%= @task.details %></p>

<% if @task.completed %>
  <p class="my-32"><span class="checkbox">✔</span> This task is completed.</p>
<% else %>
  <p class="my-32"><span class="checkbox"></span> This task is not completed yet.</p>
<% end %>

<hr>

<%= link_to 'Back to list', tasks_path %>
