// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.checkbox {
  border: 1px solid #aaa;
  border-radius: 2px;
  width: 16px;
  height: 16.5px;
  margin-right: 16px;
  display: inline-block;
}

// ------------ show -------------

.box-details {
  padding: 24px;
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: 4px;
}

hr {
  border: 1px solid #eee;
  margin-bottom: 24px;
}
