// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.task-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  p {
    margin: 0;
    padding-left: 8px;
  }
}

.checkbox {
  border: 1px solid #aaa;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  display: inline-block;
}
